
/* ------ COLOR ------*/
$bianco: #ffffff;
$blu: #2e365a;
$blu_scuro: #252a44;
$giallo: #eee10e;
$nero: #171a20;
$grigio: #696661;
$grigio_chiaro: #a29f9a;

$azzurro: #3399ca;
$arancione: #e29649;
$arancione_alpha: rgba(226,150,73,0.6);
$navi: #333842;
$navi-scuro: #333842;
$navi_chiaro: #636d82;


