
.scrolled, .page_int{
/*
	#menu_dx{
		nav{
			ul{

				li{
			    	a{
						padding: 7px 15px;
				    	@media screen and (max-width: 450px) {
							font-size: 10px;
							padding: 12px 5px;
						} 
			    	}
				}
			}
		}
	}*/

	header{
		/*background: $bianco_alpha url("../images/gradient_slider.png")top -30px center repeat-x!important;
		border-bottom: 1px solid $grigio_chiaro; 
		z-index: 20;*/
    .head{
      background: $bianco;
      @include box_shadow;
      @include anim_hover_all;
      &:after{
        content: none;
        @include anim_hover_all;
      }
  		.logo_head{
  			    width: 200px;
  			    margin: 0 auto;
  			    position: relative;
  			    z-index: 25;
  			    overflow: hidden;
  			    padding: 11px 0px;
  			    @media screen and (max-width: 450px) {
  					width: 120px;
  				    padding: 16px 0px;
  				} 
  			a{
  				//@include anim_hover_all;
          content:  url("../images/logo_soluzioni_meccaniche_nero.png");
        @include anim_hover_all;
        display: block;
        width: 100%;
  			}
  		}	
    }
	}

	/*#service_menu{
		color: $blu;
		top: 15px;
		@include anim_hover_all;
		.lang{
	    	line-height: 30px;
	    	@media screen and (max-width: 450px) {
				line-height: 35px;
				font-size: 10px;
			}
	    }
	}*/

	#main_menu{
		nav{
		    @include anim_hover_all;
			ul {
			    li {
				    & a {
					    //color: $blu;
					    @include anim_hover_all;
					}
					& a:hover {
						//color: $blu_scuro;
						@include anim_hover_all;
					}
				}
			}
		}
	}
	#social_menu {
	  top: 30px;
	}
}


.scrolled{ 
	.marg_header{
		@media screen and (max-width: 767px) {
				//margin-top: 117px;
		} 
	}
	.marg_header2{
		@media screen and (max-width: 767px) {
				//margin-top: 117px;
		} 
	}
}


body.page_int{ 
  padding-top: 90px;
 // background: #993;
	.marg_header{
		//margin-top: 117px;
	}
	.marg_header2{
		//margin-top: 117px;
	}
}






//BURGER




.scrolled{
 



.o-grid__item {
  padding: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 20;
  display: block;
  
  button{
    background: transparent!important;
    //top: 10px;
    //right: 50px;
    @include anim_hover_all;
     @media screen and (max-width: 767px) {
      //right: 20px;
    } 
    @media screen and (max-width: 450px) {
     //right: 10px;
    //  top: 10px;
    } 
  }

  button:hover {
    background: transparent!important;
  }
  @media screen and (max-width: 1280px) { 
    display: block;
  }
  @media screen and (max-width: 640px) { 
    padding: 24px 10px;
  }
  @media screen and (max-width: 450px) { 
    padding: 24px 0px;
  }
   @media screen and (max-width: 450px) { 
    padding: 8px 0px;
  }
}




}

